.App {
    display: flex;
    flex-direction: column;
    /* margin: 25px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: 25px;
    align-items: center;

  }
  
  #title {
    margin: 0;
  }

  .header {
    width: 100%;
    text-align: left;
    max-width: 800px;
  }
  
  #description {
    margin: 0;
  }
  
  .options {
    background-color: #ecede4;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 25px;
  }
  
  #type-form {
    margin-bottom: 10px;
    line-height: 30px;
  }
  
  #generate-button {
    margin-top: 20px;
    border: 0;
    background-color: #0070c9;
    background: linear-gradient(#42a1ec, #0070c9);
    border: 2px solid #0077ED;
    color: white;
    margin-top: 15px;
    outline: none;
    width: 100px;
    border-radius: 24px;
    padding: 8px 0 8px;
    cursor: pointer;
  }
  
  #generate-button:hover {
    background-color: #147bcd;
    background: linear-gradient(#51a9ee, #147bcd);
    color: white;
  }

  #generate-button:disabled {
    background-color: #8e98a0;
    background: linear-gradient(#aaceea6e, #99a9b672);
    color: rgba(255, 255, 255, 0.549);
    cursor: not-allowed;
    outline: none;
    border: 2px solid #b9c9d9;
  }
  
  .num-lines-select {
    width: 70px;
    display: inline-block;
  }
  
  .prompt-line {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
  
  #add-prompt {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    cursor: pointer;
    margin-bottom: 10px;
    outline: none;
  }
  
  .character-select {
    max-width: 250px;
    width: 30%;
    display: inline-block;
  }
  
  .line {
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    min-height: 38px;
    outline: 0 !important;
    transition: all 100ms;
    box-sizing: border-box;
    padding-left: 10px;
    overflow: hidden;
    font-size: 16px;
    width: 70%;
  }
  
  .script {
    background-color: #f7f7f5;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  #loadingp{
    display: inline;
    margin-left: 15px;
  }

  .statusContainer {
    background-color: #6B7FD7;
    width: 100%;
    max-width: 800px;
    /* margin-top: 20px; */
    padding-left: 25px;
    padding-right: 25px;
    /* padding: 25px; */
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    color: white;
    font-size: 14px;
  }

  .statusContainer a {
    color: white;
    cursor: pointer;
  }


/* Media query for phone screens */
@media (max-width: 600px) {
  .App {
    margin: 5px; /* Further reduced margin for very small screens */
    align-items: center;
    padding: 12px; /* Smaller padding for phone-friendly design */
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .options,
  .script {
    
    width: 100%;
  }

  #generate-button {
    width: 90px; /* Smaller button size for compact layout */
  }

  #loadingp{
    display: block;
    margin-left: 0px;
  }

  #title {
    font-size: 18px; /* Reduced font size for phone screens */
  }

  /* #description {
    font-size: 14px;
  } */
}